@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #050208;
  color: #4f4f4f18;
  color: #f3ecec;
  padding: 0 20px;
}

main {
  max-width: 978px;
  min-height: calc(100dvh - 6rem - 61px);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

a {
  text-decoration: none;
  color: #f3ecec;
}

ul li {
  list-style: none;
}

.btn {
  padding: 5px 10px;
  border-radius: 8px;
  color: #0d031a;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.btn:hover {
  background-color: #c5c5c5;
}

.reset {
  background-color: transparent;
  color: #f3ecec;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  padding: 5px 10px;
  border-radius: 8px;
  margin: 0 10px;
  border: 2px solid #f3ecec;
}

.reset:hover {
  background-color: #f3ecec1f;
}
